/spices/#iputils.md#
*.html
/spices/#cix-ag#
/spices/.#cix-ag
*md
*pd
*pdf
*tex
/#cix-main.org#
*#
/cix-todo.org
/spices/.#cix-syslinux.org
/spices/.#cix-hall-of-fame.org
/spices/.#cix-the-heirloom-project.org
